<div class="row text-center">
    <div class="col">
    <h1>Welcome to Cab Booking App</h1>
    <h6>please refresh to see all changes</h6>
    <hr/>
    <div style="padding: 20px;" class="p-2">
            <a [routerLink]="['/cabs']" class="col-2 btn btn-primary">Cabs</a><br><br><br>
            <a [routerLink]="['/bookings']" class="col-2 btn btn-primary">Bookings</a><br><br><br>
            <a [routerLink]="['/locations']" class="col-2 btn btn-primary">Locations</a><br><br><br>
            <a [routerLink]="['/places']" class="col-2 btn btn-primary">Places</a><br><br><br>
    </div>
</div>
</div>
